body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}



abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}


*::before,
*::after {
  box-sizing: border-box;
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c',
    sans-serif;
}

body {
  line-height: 1.8;
  line-height: 2;
  font-size: 18px;
  color: var(--color_black);
}

a {
  text-decoration: none;
  color: inherit;
}


button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

/* フォーム */
input,
select,
textarea,
button {
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  outline: none;

}

::placeholder {
  color:rgb(212, 212, 212);
}


/* リセット *//* リセット *//* リセット *//* リセット *//* リセット *//* リセット */
/* リセット *//* リセット *//* リセット *//* リセット *//* リセット *//* リセット */
/* リセット *//* リセット *//* リセット *//* リセット *//* リセット *//* リセット */
/* リセット *//* リセット *//* リセット *//* リセット *//* リセット *//* リセット */
/* リセット *//* リセット *//* リセット *//* リセット *//* リセット *//* リセット */
/* リセット *//* リセット *//* リセット *//* リセット *//* リセット *//* リセット */
/* リセット *//* リセット *//* リセット *//* リセット *//* リセット *//* リセット */


body{
    color: white;
    width: 414px;
    height: 896px;
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 500% 500%;
    animation: gradient 5s ease infinite;
}


@keyframes gradient {
0% {
background-position: 0% 50%
}
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
}

.bars{
margin-right: 310px;
}

/*========= 検索窓のためのCSS ===============*/


#search-wrap {
position: fixed;
z-index: 2;
top: 15px;
right:15px;
}

/*テキスト入力input設定*/
#search-text{
-webkit-appearance:none;
width: 40px;
height: 40px;
border: 1px solid rgba(255, 255, 255, 0.4);
border-radius: 30px;
background:rgba(255, 255, 255, 0.582) url("https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/7-2-3/img/icon_search.svg") no-repeat 10px;/*虫眼鏡アイコンを背景に表示*/
background-size: 20px 20px;
transition: all 0.5s;
cursor: pointer;
}


.container{
    margin-top: 70px;
}


.card {
    width: 120px;
    display: flex;
    background-color: #ffffff09;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

/* フッター */

footer {
    height: 60px;
    position: absolute;
    bottom: 0;
}

.footer_wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 414px;
}


.footer_btn_left{
    width: 30%;
    height: 60px;
    padding-right: 150px;
}

.footer_btn_center{
    width: 40%;
    height: 60px;
}

.footer_btn_right{
    width: 30%;
    height: 60px;
    padding-left: 150px;
}


