body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}



abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}


*::before,
*::after {
  box-sizing: border-box;
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c',
    sans-serif;
}

body {
  line-height: 1.8;
  line-height: 2;
  font-size: 18px;
  color: var(--color_black);
}

a {
  text-decoration: none;
  color: inherit;
}


button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

/* フォーム */
input,
select,
textarea,
button {
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  outline: none;

}

::placeholder {
  color:rgb(212, 212, 212);
}


/* リセット */
/* リセット */
/* リセット */
/* リセット */
/* リセット */


/* fallback */



/* マテリアルアイコン */
/* マテリアルアイコン */
/* マテリアルアイコン */
/* マテリアルアイコン */
/* マテリアルアイコン */
/* マテリアルアイコン */




html{
    width: 414px;
    height: 896px;
}


body{
    color: white;
    width: 414px;
    height: 896px;
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
}


@keyframes gradient {
0% {
background-position: 0% 50%
}
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

.header{
    width: 100%;
    height: 45px;
    position: fixed;
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top: none;
    border-right: none;
    border-left: none;
}

.header_left{
    width: 20%;
    display: flex;
    align-items: center;
}

.header_center{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_right{
    width: 20%;
    display: flex;
    align-items: center;
}

.header_btn {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.header_text{
    display: flex;
    font-size: 16px;
    font-weight: bold;
}

.formbook {
    width: 414px;
    margin: 64px auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
  margin: 30px 0px 36px 0px;
  text-align: center;
  font-size: 16px;
}

.category{
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-weight: bold;
  font-size: 15px;
  padding-left: 10px;
}

input{
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-top: none;
  border-right: none;
  border-left: none;
  display: flex;
  align-items: center;
  font-size: 13px;
  padding: 10px;
}

.img{
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.file_area{
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  padding: 10px;
}

#preview {
  margin-top: 30px;
  margin-left: 30px;
}

#preview img {
  width: 70px;
  margin-right: 30px;
}

.fileinput {
  display: none;
}

.file_btn{
  width: 30px;
  height: 30px;
  margin-left: 13px;
  /* border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%; */
}




.info{
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

textarea{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
}

.price{
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

button {
    font-size: 10px;
    color: white;
    width: 70px;
    height: 70px;
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: 50%;
}

.touroku_btn{
    margin-top: 45px;
    text-align:  center;  
}

.login_btn {
    margin-top: 54px;
}

.person_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 140px 40px 40px 40px;
}

.person_text{
    font-size: 10px;
    padding-bottom: 10px;
}