/* 
font-family: heisei-kaku-gothic-std,sans-serif;
font-weight: 300;
font-style: normal;

font-family: heisei-kaku-gothic-std,sans-serif;
font-weight: 500;
font-style: normal;

font-family: heisei-kaku-gothic-std,sans-serif;
font-weight: 700;
font-style: normal;
 */




body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}



abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}


*::before,
*::after {
  box-sizing: border-box;
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: 'M PLUS Rounded 1c',
    sans-serif;
}

body {
  line-height: 1.8;
  line-height: 2;
  font-size: 18px;
  color: var(--color_black);
}

a {
  text-decoration: none;
  color: inherit;
}


button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

/* フォーム */
input,
select,
textarea,
button {
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  outline: none;

}

::placeholder {
  color:rgba(212, 212, 212, 0.521);
}


/* リセット */
/* リセット */
/* リセット */
/* リセット */
/* リセット */


/* fallback */



/* マテリアルアイコン */
/* マテリアルアイコン */
/* マテリアルアイコン */
/* マテリアルアイコン */
/* マテリアルアイコン */
/* マテリアルアイコン */




html{
    width: 414px;
    height: 896px;
}


body{
    color: white;
    width: 414px;
    height: 896px;
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
}


@keyframes gradient {
0% {
background-position: 0% 50%
}
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

.header{
    margin-top: 8px;
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
    align-items: center;
}

.header_left{
    width: 20%;
    display: flex;
    align-items: center;
}

.header_btn_left{
    margin-left: 20px;
}

.header_center{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_right{
    width: 20%;
    display: flex;
    align-items: center;
}


.warapper{
    margin: auto;
    padding: 50px 30px;
    font-family: heisei-kaku-gothic-std,sans-serif;
    font-weight: 300;
    font-size: 14px;
    font-style: normal;

}

input{
  /* background-color: rgba(255, 255, 255, 0.1); */
    color: white;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-top: none;
    border-right: none;
    border-left: none;
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 10px;
}
.author_area{
    padding: 0 100px 0 30px;
    font-family: heisei-kaku-gothic-std,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}
.name_area{
    padding: 0 100px 20px 30px;
    font-family: heisei-kaku-gothic-std,sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 120%;
    font-size: 23px;
}

.book_img_area{
    display: flex;
    justify-content:center;
}

.price_area{
    display: flex;
    padding: 16px 20px 0 30px;
    font-family: heisei-kaku-gothic-std,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;

}

.価格{
    padding: 33px 10px 0 0;
    font-family: heisei-kaku-gothic-std,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
}

.rental_area{
    padding: 33px 0 0 10px;
    font-family: heisei-kaku-gothic-std,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}

.detail_btn{
  margin:0 0 15px 35px;
    font-size: 13px;
    color: white;
    width: 100px;
    height: 30px;
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: 7px;
    padding-left: 14px;
    padding-top: 2px;
}

#p1{
    padding: 20px 50px 30px 50px;
    font-family: heisei-kaku-gothic-std,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
}

.order_form{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid rgb(255, 255, 255, 0.3);
  padding-top: 20px;
}

.trade_area{
  font-size: 18px;
  color: white;
  border: 1px solid rgb(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 7px;

}

.date_area{
  margin-top:10px ;
  font-size: 15px;
}

.book_img{
    width: 280px;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}


button {
    margin-top: 30px;
    margin-left: 28px;
    font-size: 15px;
    color: white;
    width: 300px;
    height: 50px;
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: 10px;
}



/* フッター */

footer {
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer_wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
}




.footer_btn_left{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_btn_center{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer_btn_right{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

